################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TalosQuestsAdministrationPanel/v14
/TalosQuestsAdministrationPanel/bin
/TalosQuestsAdministrationPanel/obj
/packages
